* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 3px;
}
.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
}

.row-1 { flex-grow: 3; }
.row-2 { flex-grow: 2; }
.col-2 { flex-grow: 4; }
.col-3 { flex-grow: 2; }

.block {
    display: flex;
    border: 1px solid whitesmoke;
    flex-grow: 1;
}

.blue { background-color: cornflowerblue; }
.gray { background-color: gray; }
.turquoise { background-color: darkturquoise; }
.red { background-color: indianred;}
.yellow { background-color: gold; }
.green { background-color: seagreen; }
.orange { background-color: chocolate; }

@media (max-width: 500px) {
    .row-1, .row-2, .row-3  { 
        flex-direction: column;
        flex-grow: 5;
    }
    .col-1, .col-3 { 
        flex-grow: 4;
    }
}

@media (min-width: 500px) and (max-width: 749px) {
    .row-1, .row-2, .row-3 { 
        flex-direction: column;
        flex-grow: 3x;
    }
    .col-3 { 
        flex-direction: row;
        flex-grow: 4;
    }
}

@media (min-width: 750px) and (max-width: 949px) {
    .row-1, .row-2 { 
        flex-direction: column;
        flex-grow: 4;
    }
    .col-3 { 
        flex-direction: row;
        flex-grow: 2;
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .row-2 { flex-direction: column }
}